.button {
  position: relative;
  border: none;
  display: inline-block;
  background-color: rgb(241, 241, 151);
  padding: 10px 20px;
  border-radius: 10px;
  font-family: "paybooc-Light", sans-serif;
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  border: 0.5px solid rgb(247, 247, 170);
  color: #1e6b7b;
  &:hover {
    letter-spacing: 2px;
    color: black;
    transform: scale(1);
    cursor: pointer;
  }
}

.disable {
  background: #eee;
  color: #ccc;
  border: none;
  //마우스 이벤트 막음
  pointer-events: none;
}
