.input {
  box-sizing: border-box;
  border: 1px solid rgba(var(--ca6, 219, 219, 219), 1);
  border-radius: 3px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(var(--b3f, 250, 250, 250), 1);
  label {
    position: relative;
  }
  span {
    height: 36px;
    position: absolute;
    left: 8px;
    line-height: 36px;
    transition: transform ease-out 0.1s;
    color: rgba(var(--f52, 142, 142, 142), 1);
    // user-select: none;
    pointer-events: none; // 마우스 무시
  }
  .inValueSpan {
    transform: scale(0.83333) translateY(-10px);
  }
  .inValueInput {
    padding: 14px 0 2px 8px;
  }
  input {
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: 3px;
    height: 36px;
    padding: 9px 0 7px 8px;
    outline: 0;
    background: rgba(var(--b3f, 250, 250, 250), 1);
    text-overflow: ellipsis; // 글자 넘어가면 ...으로 표시
  }
  div {
    padding-right: 8px;
    height: 100%;
    white-space: nowrap; // 줄바꿈 방지
    font-size: 11px;
    cursor: pointer;
  }
}
