@import "./Variables.scss";

.container {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  height: 100vh;
}

.filter {
  margin: 200px 0;
}
.checkbox {
  font-size: 14px;
  label {
    padding-right: 7px;
    padding-left: 19px;
    position: relative;
  }
  input {
    position: absolute;
    top: 2px;
    left: 0;
  }
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.search {
  display: flex;
  select {
    outline: 0 none;
    height: 38px;
    font-size: 12px;
    margin-left: 10px;
    color: $blue;
    border: 1px solid $yellow;
    border-radius: 5px;
    background: $yellow;
  }
  select option {
    background: $yellow;
    color: $blue;
    padding: 3px 0;
  }
}
