@import "./Variables.scss";
.wrapper {
  display: flex;
  justify-content: space-between;
}

.container {
  transition: width ease-out 0.4s;
  width: 100%;
}
.containerMove {
  transition: width ease-out 0.4s;
  width: calc(100% - #{$sidebarWidth});
  // width: calc(100% - 200px);
}
