.container {
  width: 230px;
  border: 1px solid black;
  // box-sizing: border-box;
  padding: 0 10px;
  margin: 0 15px 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  p {
    margin: 0;
  }
}
