@import "./Variables.scss";
.container {
  border: 1px solid red;
  margin-top: 40px;
  width: 200px;
  position: fixed;
  right: 0;
  transition: right ease-out 0.28s;
}

.sidebarMove {
  right: -100px;
  // right: -$sidebarWidth;
}
