@import "./Variables.scss";
.container {
  background-color: $blue;
  height: 100vh;
  width: $sidebarWidth;
  position: fixed;
  right: 0;
  transition: right ease-out $sidebarSpeed;
}

.sidebarMove {
  right: -$sidebarWidth;
}
