$yellow: #f1c40f;
$blue: #0a3d62;
$red : #E74C3C;
$green : #1ABC9C;
$navy : #2C3E50;
$inputBorderColor: rgba(var(--ca6, 219, 219, 219), 1);
$inputSpanColor: rgba(var(--f52, 142, 142, 142), 1);
$sidebarWidth: 400px;
$sidebarSpeed: 0.35s;
