$size: 30rem;

.big {
  font-size: $size;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
  &:hover,
  &:active {
    text-decoration: none;
    color: inherit;
  }
}

// 전체 스크롤바
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  // border-radius: 100px;
}
::-webkit-scrollbar-thumb {
  // border-radius: 100px;
  background-color: #f1c40f;
}
