$size: 30rem;

.big {
  font-size: $size;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
  &:hover,
  &:active {
    text-decoration: none;
    color: inherit;
  }
}
